NEXT_PUBLIC_API_URL=http://localhost:3000
API_URL=http://localhost:3000

# `openssl rand -base64 32`
AUTH_SECRET=uDzTbEGaMYSN8Fpznle57zj27FUKDh9BnCHPisjTG7z7
AUTH_URL=http://localhost:4000

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

NEXT_PUBLIC_ORDERTRACKER_ID=